.notes__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar {
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.notes__appbar span {
    color: white;
}

.notes__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea  {
    border: none;

    &:focus {
        outline: none;
    }
}

.notes__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea {
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
}

.notes__image img {
    box-shadow: 5px 5px 5px $light-grey;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.notes__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes__button-delete {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
