// Colors
// $primary: #363636;
$primary: #5f34af;
$secondary: #fbb040;
$dark-primary: #1868e7;
$dark-grey: #202020;
$light-grey: #d8d8d8;
$error-light:#f8d7da;
$error-dark:#d9534f;
$danger: #d9534f;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
